* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  margin: 0;
  font-family: 'Nunito', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #222222;
  text-decoration: none;
}

a:visited {
  color: #222222;
  text-decoration: none;
}

a:hover {
  color: #3b3b3b;
  text-decoration: none;
}

.link-button {
  color: #222;
  border: 2px solid #222;
  padding: 8px 12px;
  margin: 0px 2px
}

.registration {
  background-color: #fff;
  border-radius: 0.5em;
}

.form-btn {
  background-color: #C9C9C9;
  color: #FCFCF4;
}

.mynavbar {
  background-color: #E6E6E6;
}

.dashboard {
  background-color: #222;
  color: #f0f4f8;
}

.dashboard h1 {
  color: #f0f4f8
}

.post-form {
  color: #f7f7f7;
  background-color: #334e68;
}

.post-form textarea {
  color: #f7f7f7;
  background-color: #3b3b3b;
}

.post-form textarea:focus {
  color: #f7f7f7;
  background-color: #3b3b3b;
}

.post-form input[type="text"] {
  color: #f7f7f7;
  background-color: #3b3b3b;
}

.post-form input[type="text"]:focus {
  color: #f7f7f7;
  background-color: #3b3b3b;
}

.error {
  color: red;
  font-style: italic;
}

.post {
  color: #f0f4f8;
  background-color: #222;
  border-bottom: 3px solid #3b3b3b;
  border-left: 3px solid #3b3b3b;
  border-right: 3px solid #3b3b3b;
}

.post:first-child {
  border-top: 3px solid #3b3b3b;
}

.post a {
  color: #f0f4f8
}

.post a:visited {
  color: #f0f4f8
}

.post a:hover {
  color: #e1e1e1
}

.users-to-follow {
  color: #222;
  background-color: #E6E6E6;
}

.user-bio {
  color: #f0f4f8
}

.comment {
  background-color: #222;
  border-bottom: 3px solid #3b3b3b;
}

.comment:first-child {
  border-top: 3px solid #3b3b3b;
}

.comment p {
  margin-bottom: 0px;
}

.post-body {
  font-size: 2em;
}

.post-button {
  color: #F1F1F1;
  font-weight: bold;
}

.submit-button {
  background-color: #00a8cc;
}

.liked {
  background-color: #F39080;
}

.unliked {
  background-color: #00a8cc;
}

/* Color Theme Swatches in Hex */
.Gris-Flamand-v1-1-hex { color: #FCFCF4; }
.Gris-Flamand-v1-2-hex { color: #EBEBE3; }
.Gris-Flamand-v1-3-hex { color: #BBC0BA; }
.Gris-Flamand-v1-4-hex { color: #6C7668; }
.Gris-Flamand-v1-5-hex { color: #404C45; }

/* Color Theme Swatches in Hex */
.color-theme_koreaimain-1-hex { color: #2E3333; }
.color-theme_koreaimain-2-hex { color: #C9C9C9; }
.color-theme_koreaimain-3-hex { color: #E6E6E6; }
.color-theme_koreaimain-4-hex { color: #F39080; }
.color-theme_koreaimain-5-hex { color: #F1F1F1; }